<div class="depot_form">
	<fieldset>
		<legend>Please Enter Your Details</legend>
        
		<% if ! @order.errors.any? %>
		<div class="row pull-right">
		<table class="table">
			<tr><strong>Your Cart</strong></tr>
					<%= render(@cart.line_items) %>
					<tr>
					<td colspan="2"><strong>Total</strong></td>
					<td><strong><%= number_to_currency(@cart.total_price) %></strong></td>
					</tr>
		</table>
		</div>
		<% end %>
		<%= render 'form' %>		
		<%#= render @cart %>
	</fieldset>
</div>

<%= link_to 'Back', store_path %>


